<a href="https://colab.research.google.com/github/Hpatterson01/Cousera_Capstone/blob/main/CanadaPostal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install lxml html5lib beautifulsoup4

Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.2.6)
Requirement already satisfied: html5lib in /usr/local/lib/python3.7/dist-packages (1.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from html5lib) (0.5.1)

## **IMPORT LIMBRARIES**

In [ ]:
import pandas as pd
import numpy as np

# RETRIEVING DATA BY WEB SCRAPING

In [ ]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)

print(len(dfs))

3

In [ ]:
df = dfs[0]

In [ ]:
df2 = df[['Postal Code','Borough','Neighbourhood']]
print(df2)

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [ ]:
df2.head(10)

  Postal Code           Borough                                Neighbourhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

## **CLEANING DATA**

In [ ]:
# replace "Not assigned" to NaN
df2.replace("Not assigned", np.nan, inplace = True)
df2.head(5)

  Postal Code           Borough              Neighbourhood
0         M1A               NaN                        NaN
1         M2A               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [ ]:
# boolean value indicating whether the value that is passed into the argument is in fact missing data.
missing_data = df2.isnull()
missing_data.head(5)

   Postal Code  Borough  Neighbourhood
0        False     True           True
1        False     True           True
2        False    False          False
3        False    False          False
4        False    False          False

In [ ]:
#  number of missing values in each column.
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Postal Code
False    180
Name: Postal Code, dtype: int64

Borough
False    103
True      77
Name: Borough, dtype: int64

Neighbourhood
False    103
True      77
Name: Neighbourhood, dtype: int64

Above code cell shows that there are no missing values in Postal code and both Borough and Neighbourhood have 77 missing values.

In [ ]:
# drop any rows with NaN in "Borough" column
df2.dropna(subset=["Borough"], axis=0, inplace=True)

# reset index, because we droped all rows wiht Nan value 
df2.reset_index(drop=True, inplace=True)

In [ ]:
# Verifying no null values 
df2.isnull().sum()

Postal Code      0
Borough          0
Neighbourhood    0
dtype: int64

In [ ]:
df2.shape

(103, 3)

In [ ]:
df2.head(10)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
5         M9A         Etobicoke      Islington Avenue, Humber Valley Village
6         M1B       Scarborough                               Malvern, Rouge
7         M3B        North York                                    Don Mills
8         M4B         East York              Parkview Hill, Woodbine Gardens
9         M5B  Downtown Toronto                     Garden District, Ryerson

In [ ]:
from google.colab import files

In [ ]:
df2.to_csv('df2.csv')

In [ ]:
]b